p {
	margin-bottom: 0.8em;
	line-height: 1.4em;
}

h1 {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #465777;
	margin: 0.4em 0;
	font-family: Verdana;
}

#wfw-options-container.desktop,
#wfw-options-container.mobile,
#wfw-options-container-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1.2em;
	font-size: 1.15em;
	margin: auto;
	padding: 0.1em;
	overflow-y: visible;
}

#wfw-options-container.desktop {
	max-width: 60%;
}

#wfw-options-container.mobile,
#wfw-options-container-empty {
	max-width: 99%;
}

.wfw-common-container {
	display: flex;
	flex-direction: column;
	width: auto;
	max-width: 70%;
	font-size: 1.15em;
	padding: 0;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: default;
}

.wfw-header-image-container img {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
	padding: 0.125em;
	max-width: 100%;
	height: auto;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0;
	}
	33%,
	67% {
		opacity: 1;
	}
}

.fadeInOut {
	animation: fadeInOut 3000ms ease-in-out infinite;
	color: #a3a3a3;
}

.wfw-component-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	cursor: default;
	width: 100%;
	padding: 0 0.25em;
}

.wfw-input-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 70%;
	padding: 0.125em;
	gap: 0.125em;
}

.wfw-input-form-textarea {
	width: 96%;
	font-size: 1em;
	resize: none;
	overflow-y: scroll;
	overflow-x: auto;
	max-height: 12em;
	padding: 0.3125em 0.3125em 0.3125em 0.3125em;
	border: 0.0625em solid #ababab;
}

input[type='radio']:not(:disabled),
input[type='checkbox']:not(:disabled) {
	cursor: pointer;
}

input[type='radio']:disabled,
input[type='checkbox']:disabled {
	cursor: default;
}

.active {
	cursor: pointer;
	opacity: 1;
}

.inactive {
	cursor: default;
	opacity: 0.3;
}

.wfw-radio-container-input-form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.125em;
	width: 100%;
	padding: 0.125em 0.3125em;
}

.wfw-container-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.wfw-input-textarea-container {
	display: flex;
	justify-content: center;
	padding: 0.125em 0.3125em;
	width: 100%;
	align-items: center;
}

.wfw-input-form-choice-component-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.4375em;
	padding: 0.1875em;
	height: 1.375em;
	cursor: pointer;
	user-select: none;
}

.wfw-input-form-choice-component-container label {
	white-space: nowrap;
}
